p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ffcf00;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*REGISTRO*/
.form-register{
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
/*INPUTS*/
.controls{
    width: 100%;
    background: white;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 17px;
    border:1px solid #9b9a9a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.form-register a{
    color: black;
    text-decoration: none;
}

.form-register a:hover {
    color: #ffcf00;
    text-decoration: underline;
}


.btn-register {
    width: 100%;
    background: #ffcf00;
    border: none;
    border-radius: 4cm;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.rgtr h2{
    background-color: black;
    color: white;   
    padding: 6px;
    padding-left: 90px;
}
.rgtr {
    height: 80px;       
}

