<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>MATERIA FORMULARIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div>MATERIA FORMULARIO REGISTRO</div>
        </header>
        <main>
            <section>
                <article th:if="${exito}!=null">
                    <h5>Exito</h5>
                    <p th:text="${exito}"></p>
                </article>
                <article th:if="${error}">
                    <h5>Error</h5>
                    <p th:text="${error}"></p>
                </article>
            </section>
            <section>
                <form th:action="@{/materia/registrar}" method="POST">
                    <div>
                        <label>Nombre de la materia</label>
                        <input type="text" name="nombre">
                    </div>
                    <div>
                        <button type="submit">Enviar Materia!</button>
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>
