<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cf27837293.js"></script>
    <link rel="stylesheet" href="/PROYECTO EGG INDER/Proyecto EGGInder/src/main/resources/static/css/style-login.css">
    <title>Egg inder</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="#"><img src="/PROYECTO EGG INDER/Proyecto EGGInder/src/main/resources/static/img/logo egginder.png" align-left width="150" height="120"></a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">misión</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">mi perfil</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
    <form class="form-login" action="#" method="post">
      <h2 class="titulo-bienvenido">Bienvenido</h2>  
      <div class="contenedor">
        <div class="contenedor-input">
            <i class="fa-solid fa-envelope"></i>
            <input class="input-login" type="email" placeholder="Email">
        </div>
        <div class="contenedor-input">
            <i class="fa-solid fa-unlock"></i>
            <input class="input-login" type="password" placeholder="Contraseña">
        </div>
        <div class="contenedor-input">
            <i class="fa-solid fa-unlock"></i>
            <input class="input-login" type="password" placeholder="Confirme su contraseña">
        </div>
            <button class="btn-login btn-animado">
                <a href="#"></a>
                <b>Login</b>
            </button>
      </div>
    </form>
</body>
</html>