<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/cf27837293.js"></script>
    <link rel="stylesheet" href="/css/style-login.css" />
    <title>EGG Inder</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="#"
          ><img
            src="/img/logo egginder.png"
            align-left
            width="150"
            height="120"
        /></a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a th:href="@{/inicio}" class="nav-menu-link nav-link">inicio</a>
          </li>
          <li class="nav-menu-item">
            <a th:href="@{/perfil/}" class="nav-menu-link nav-link">mi perfil</a>
          </li>
          <li class="nav-menu-item" sec:authorize="!isAuthenticated()">
            <a  th:href="@{/registro}" class="nav-link">Registrarse</a>
          </li>
          <li class="nav-menu-item" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" class="nav-link">Desconectarse</a>
          </li>
        </ul>
      </nav>
    </header>
    <form class="form-login" th:action="@{/logincheck}" method="post">
      <h2 class="titulo-bienvenido">Bienvenido</h2>
      <div class="contenedor">
        <div></div>
        <div class="contenedor-input">
          <i class="fa-solid fa-envelope"></i>
          <input class="input-login" type="email" name="email" placeholder="Email"/>
        </div>
        <div class="contenedor-input">
          <i class="fa-solid fa-unlock"></i>
          <input class="input-login" type="password" name="clave" placeholder="Contraseña"/>
        </div>
        <button class="btn-login btn-animado">
            <b>Ingresar</b>
            <a href="#"></a>
        </button>
        <div class="validaciones">
          <div th:if="${error}!=null" class="validaciones-error">
            <h4>ERROR</h4>
            <p th:text="${error}"></p>
          </div>
          <div th:if="${logout}!=null" class="validaciones-logout">
            <p th:text="${logout}"></p>
          </div>
        </div>
      </div>
      <div class="registrarme-redirect">
        <p><i>¿No tenes cuenta todavia? <a th:href="@{/registro}">Registrarme</a></i></p>
      </div>
    </form>
  </body>
</html>
