<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-perfil2.css" />
    <!--<link rel="stylesheet" href="style.css" />
     <link rel="stylesheet" href="/test/resources/static/css/style-perfil-2.css" />-->
    <title>Página EggInder</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#">
          <!-- src="/test/resources/static/img/logo egginder.png"-->
          <img
            src="/img/logo egginder.png"
            align-left
            width="150"
            height="120"
        /></a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a th:href="@{/inicio}" class="nav-menu-link nav-link">inicio</a>
          </li>
          <li class="nav-menu-item">
            <a th:href="@{/perfil/}" class="nav-menu-link nav-link">mi perfil</a>
          </li>
          <li class="nav-menu-item" sec:authorize="!isAuthenticated()">
            <a  th:href="@{/login}" class="nav-link">Iniciar Sesion</a>
          </li>
          <li class="nav-menu-item" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" class="nav-link">Desconectarse</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="perfil">
        <div class="img">
          <!-- src="/test/resources/static/img/icono2.png"-->
          <img id="icono" src="/img/egg-icono-perfil.jpg" alt="iconoPerfil"/>
        </div>
        <div class="contenido">
          <h2><span th:text="${usuario.nombre}"></span> <span th:text="${usuario.apellido}"></span></h2>
          <br>
          <h2>E-mail: <span id="emailPerfil" th:text="${usuario.email}"></span></h2>
          <br>
          <div class="centro">
            <div class="box">
              <div th:if="${voto}!=null">
                <h2 class="subtituloMateria">Materia seleccionada: <span id="materiaNombre" th:text="${voto.materia.nombre}"></span></h2>
              </div>
              <div th:unless="${voto}!=null">
                <h2 class="subtituloMateria">No se ha seleccionado una materia</h2>
              </div>
              <br>
              <div th:if="${usuario2.id}==${usuario.id}">
                <h2 class="subtituloMateria">No se ha encontrado un match aun :(</h2>
              </div>
              <div th:unless="${usuario2.id}==${usuario.id}">
                <h2 class="subtituloMateria">Tu match es: <span class="user2nombre" th:text="${usuario2.nombre}"></span>  <span class="user2nombre" th:text="${usuario2.apellido}"></span>
                <br>
              Contacto: <span class="user2nombre" th:text="${usuario2.email}"></span></h2>
              </div>
            </div>
          </div>
          <button id="botonfinal">
            <a th:href="@{/perfil/modificar-perfil}">
              EDITAR PERFIL
            </a>
          </button>
          <button id="botonVoto">
            <a th:href="@{/perfil/modificar-voto}">
              EDITAR VOTO
            </a>
          </button>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div>
        <p><span id="integrantesTitulo">Integrantes:</span> <span id="frontTitulo">Front:</span> <span id="frontIntegrantes">Soledad Villalba, Miguel Rojas, Silvana Maldonado</span> 
          <span id="backTitulo">Back: </span><span id="backIntegrantes">Mauro Chapero, Tomas Manduca, Leandro Galvan</span></p>
      </div>
      <!-- <div class="footerFixeado">
        <div class="footerTitulo">
          <h1>Integrantes:</h1>
        </div>
        <div class="footerSubtitulo">
          <h2>Front-end</h2>  
        </div>
        <div class="integrantes">
          <h4 class="integrante">Soledad Villalba</h4>
          <h4 class="integrante">Miguel Rojas</h4>
          <h4 class="integrante">Silvana Maldonado</h4>
        </div>
        <div>
          <h2 class="footerSubtitulo">Back-end</h2>
        </div>
        <div class="integrantes">
          <h4 class="integrante">Mauro Chapero</h4>
          <h4 class="integrante">Leandro Galvan</h4>
          <h4 class="integrante">Tomás Manduca</h4>
        </div>
      </div> -->
    </footer>
  </body>
</html>
