<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style-perfil.css" />
    <title>Página Web</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="https://www.egg-inder.com.ar"
          ><img src="/static/img/logo egginder.png" align-left width="150" height="120"
        /></a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">misión</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">mi perfil</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">iniciar sesión</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="contenedor">
          <article class="tutor">
            <img id="logo" src="../static/img/logo egginder.png" alt="LogoEggInder" />
            <p id="letra">Nombre</p>
            <h3>Email:</h3>
            <h3>Materia que quiero aprender:</h3>
            <p id="letra2">Geografía</p>
            <h3>Materia que quiero enseñar:</h3>
            <p id="letra2">Matemáticas</p>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <p>Sigannos en las redes</p>
      <a href="https://www.instagram.com/" targer="_blank"
        ><img class="redes" src="../static/img/instagram1.png" alt="Instagram"
      /></a>
      <a href="https://www.facebook.com/"
        ><img class="redes" src="../static/img/facebook.png" alt="Facebook"
      /></a>
      <a href="https://twitter.com/"
        ><img class="redes" src="../static/img/twitter2.png" alt="Twitter"
      /></a>
    </footer>
  </body>
</html>
