<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto egginder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="https://www.egg-inder.com.ar"><img src="img/logo egginder.png" align-left width="150" height="120"></a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">misión</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">mi perfil</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">iniciar sesión</a></li>
            </ul>
    </header>
    <main>
        <section class="form-register">
        <div class="rgtr">
            <h2>REGISTRATE</h2>
        </div>        
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
        <input class="controls"  type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls"  type="password" name="password" id="contraseña" placeholder="Ingrese su Contraseña">
        <input class="controls"  type="password" name="password" id="confirme-contraseña" placeholder="Confirme su Contraseña">
        <button class="btn-register"><b>¡LISTO!</b></button>
        <p><a href="#">¿Ya tenes Cuenta?</a></p>
        </section>
    </main>
    
</body>
</html>
