<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cf27837293.js"></script>
    <title>Proyecto egginder</title>
    <link rel="stylesheet" href="/Proyecto EGGInder/src/main/resources/static/css/style-registro.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="https://www.egg-inder.com.ar"><img src="img/logo egginder.png" align-left width="150" height="120"></a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">misión</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">mi perfil</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">iniciar sesión</a></li>
            </ul>
    </header>
    <main>
        <form class="form-register" action="#" method="post">
        <div class="rgtr">
            <h2>REGISTRATE</h2>
        </div> 
        <div class="contenedor-registro"> 
            <div class="contenedor-input">
                <i class="fa-solid fa-user"></i>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
            </div>     
            <div class="contenedor-input">
                <i class="fa-solid fa-user"></i>            
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
            </div>
            <div class="contenedor-input">
                <i class="fa-solid fa-envelope"></i>
                <input class="controls"  type="email" name="correo" id="correo" placeholder="Ingrese su Email">
            </div>
            <div class="contenedor-input">
                <i class="fa-solid fa-unlock"></i>
                <input class="controls"  type="password" name="password" id="contraseña" placeholder="Ingrese su contraseña">
            </div>
            <div class="contenedor-input">
                <i class="fa-solid fa-unlock"></i>
                <input class="controls"  type="password" name="password" id="confirme-contraseña" placeholder="Confirme su contraseña">
            </div>
            <button class="btn-register">
                <b>¡LISTO!</b>
            </button>
            <p><i>¿Ya tenes cuenta? <a href="#">Iniciar Sesión</a></i></p>
        </div>
</form>
    </main>
    
</body>
</html>
