<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Página Web</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#"
          ><img src="img/logo egginder.png" align-left width="150" height="120"
        /></a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">misión</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">mi perfil</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">iniciar sesión</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="contenedor">
          <article class="tutor">
            <img id="logo" src="img/logo egginder.png" alt="LogoEggInder" />
            <h3>Quiero Aprender:</h3>
            <form action="#" method="POST">
              <div class="content-select">
                <select name="selectOption" class="selectOption">
                  <option value="value1">Matemática</option>
                  <option value="value2">Geografía</option>
                  <option value="value3">Historia</option>
                  <option value="value4" selected>Ninguna</option>
                </select>
                <i></i>
              </div>
              <h3>Quiero Enseñar:</h3>

              <div class="content-select">
                <select name="selectOption" class="selectOption">
                  <option value="value1">Matemática</option>
                  <option value="value2">Geografía</option>
                  <option value="value3">Historia</option>
                  <option value="value4" selected>Ninguna</option>
                </select>
                <i></i>
              </div>
              <div id="botonfinal">
                <button>¡LISTO!</button>
              </div>
            </form>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <p>Sigannos en las redes</p>
      <a href="https://www.instagram.com/"
        ><img class="redes" src="img/instagram1.png" alt="Instagram"
      /></a>
      <a href="https://www.facebook.com/"
        ><img class="redes" src="img/facebook.png" alt="Facebook"
      /></a>
      <a href="https://twitter.com/"
        ><img class="redes" src="img/twitter2.png" alt="Twitter"
      /></a>
    </footer>
  </body>
</html>
