<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>select voto personalizado</title>
    <link rel="stylesheet" href="/css/style-votos.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#"
          ><img src="/img/logo egginder.png" align-left width="150" height="120"
        /></a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a th:href="@{/inicio}" class="nav-menu-link nav-link">inicio</a>
          </li>
          <li class="nav-menu-item">
            <a th:href="@{/perfil/}" class="nav-menu-link nav-link">mi perfil</a>
          </li>
          <li class="nav-menu-item" sec:authorize="!isAuthenticated()">
            <a  th:href="@{/login}" class="nav-link">Iniciar Sesion</a>
          </li>
          <li class="nav-menu-item" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" class="nav-link">Desconectarse</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <br>
        <section class="form-editar">
          <div class="edit-mate">
            <form th:action="@{/perfil/modificar-voto}" method="POST" class="formulario materia">
              <div class="edi">
                <h1 class="confirme">Editar materia</h1>
              <br>
              <br>
              </div>
    
              <div class="ensenar">
                <label class="subtt">Quiero enseñar:</label>
                <select name="idMateria">
                  <div th:if="${voto}!=null">
                    <option th:value="${voto.materia.id}" th:text="${voto.materia.nombre}"></option>
                 </div>
                 <div th:each="materia : ${materias}">
                   <option th:value="${materia.id}" th:text="${materia.nombre}"></option> 
                 </div>
                  <!-- <option value="Matematica">Matemática</option>
                  <option value="Geografia" selected>Geografia</option>
                  <option value="Historia">Historia</option>
                  <option value="Logica">Lógica</option> -->
                </select>
              </div>
              <br>
              <div class="botoncito">
                <button type="submit" class="btn-editar">¡LISTO!</button>
              </div>
              </div>
            </form> 
          </div>
        </section>

    </main>
    <footer>
      <div class="footer">
        <h4 class="resp">Egg-inder es una sociedad sin fines de lucro</h4>
        <li><h5>Desarrolladores:</h5></li>
        Galvan Leandro//Maldonado Silvana//Rojas Miguel//
        Chapero Mauro//Manduca Tomás//Villalba Soledad
      </div>
    </footer>
  </body>
</html>
