*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px;
    background-color: #ffcf00;
    background-image: url(/img/FONDO-PERFIL.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.header {
    background-color: #ffffff;
    height: 90px;
    position: fixed; /*posicion fija*/
    width: 100%;
    top: 0;
    left: 0;
}
.nav {
    display: flex; /*coloca celdas como cajas*/
    justify-content: space-between;
 
}
 
.nav-link {
    color: black;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    margin-right: 40px; /*espacio entre palabras*/
    list-style:none; /*Quito puntitos*/
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; /*palabra entera*/
 
}
.nav-menu-link {
    padding: 8px 12px; /*ar/ab izq/der*/
    border-radius: 5px;
}
.nav-menu-link:hover {
    background-color: #ffcf00; /*estilo cuando paso el mouse*/
    transition: 0.5s; /*Transicion suave entre link y link del menu*/
}

.form-editar{
    background: #ffffff;
    opacity: 90%;
    padding: 20px;
    border-width: 2px;
    border-style:double;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 5px;
    width: 50%;
    height: 50%;
}
.edit ,
.confirme{
    color: black;
    text-transform: uppercase;
}
.btn-editar{
    background-color: #000;
    color: #ffffff;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;

}
.btn-editar:hover{
    background-color: #ffcf00; /*estilo cuando paso el mouse*/
      
}

.footer{
    height: 4rem;
    font-style: italic;
    float: left;
    margin:0 auto; 
    width:auto;
    position:fixed; 
    bottom:5%; 
    z-index:999999;
}
