<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0" >
    <link href="https://fonts.googleapis.com/css?familly=Monserrat:300,400,600|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>mision</title>
    <link rel="stylesheet" href="../static/css/style-mision.css">
</head>
<body>
    <a href="#modal" class="btn-open-mision">Abrir Misión</a>
    <div class="container-all" id="modal">
        <div class="popup">
            <div class="img"></div>
            <div class="container-text">
                <h1>NUESTRA MISIÓN</h1>
                <h3>¿Qué buscamos con EGG-INDER?</h3>
                <p>
                    Somos una organización que busca conectar personas a través de la cooperación. 
                    Pusimos en marcha un laboratorio social y aplicamos principios científicos de la Cooperación Humana. Así, creamos una tecnología que transforma grupos en verdaderos equipos. 
                    Hoy estamos listos para que el mundo la ponga en práctica. <br>
                    Por qué en <strong>EGG-INDER</strong> somos participes de la revolución educativa, y creemos que es mucho más fácil si aprendes de un amigo, vecino o simplemente un par.
                    Queremos romper esquemas y que la educación 3.0 llegue más lejos de lo que todos creen. Apoyo escolar, ayudas y mucho más con solo ¡un click!
                    Cosas increibles, y estamos listos para ello...<br>
                    <h2><strong>¿Vos lo estás?</strong></h2>
                </p>
            </div>
            <a href="#" class="btn-close-mision">X</a>
        </div>
    </div>
</body>
</html>