<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASIGNAR VOTOS AL ALUMNO</title>
</head>
<body>
    <div>
        <h1>ASIGNAR VOTOS AL ALUMNO</h1>
    </div>
    <div>
        <div th:if="${exito}!=null">
            <h4>EXITO</h4>
            <p th:text="${exito}"></p>
        </div>
        <div th:if="${error}!=null">
            <h4>ERROR</h4>
            <p th:text="${error}"></p>
        </div>
    </div>
    <div>
        <form th:action="@{/perfil/voto}" method="POST">
            <div>
                <label>¿Qué materia queres aprender?</label>
                <select name="idMateria1">
                    <div th:if="${voto1}!=null">
                        <option th:value="${voto1.materia.id}" th:text="${voto1.materia.nombre}"></option>
                    </div>
                    <option value="default">Default</option>
                    <div th:each="materia : ${materias}">
                        <div th:if="${voto1.materia.id}!=${materia.id}">
                            <option th:value="${materia.id}" th:text="${materia.nombre}"></option>
                        </div>
                        <div th:unless="${}">
                            <option th:value="${materia.id}" th:text="${materia.nombre}"></option>
                        </div>
                    </div>
                </select>
                <div>
                    <label>¿Qué materia queres enseñar?</label>
                    <select name="idMateria2">
                        <div th:if="${voto2}!=null">
                            <option th:value="${voto2.materia.id}" th:text="${voto2.materia.nombre}"></option>
                        </div>
                        <!-- <option th:unless="${voto2}==null" value="default">Default</option> -->
                        <div th:each="materia : ${materias}">
                            <div th:if="${voto2.materia.id}!=${materia.id}">
                                <option th:value="${materia.id}" th:text="${materia.nombre}"></option>
                            </div>
                        </div>
                    </select>
                </div>
            </div>
            <button type="submit">Enviar voto</button>
        </form>
    </div>
    <!--
        <div>
                <label>Editorial:</label>
                <select name="editorial">
                  <option value="Default">Default</option>
                  <div th:each="editorial : ${editoriales}"> 
                    <option th:value="${editorial.nombre}" th:text="${editorial.nombre}"></option>
                  </div>
                </select>
            </div>
    -->
</body>
</html>