<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>select voto personalizado</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style-votos.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#"
          ><img src="/src/main/resources/static/img/logo egginder.png" align-left width="150" height="120"
        /></a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">inicio</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">mi perfil</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">Cerrar sesión</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <br>
        <section class="form-editar">
          <div class="edit-mate">
            <form class="formulario materia">
              <div class="edi">
                <h1 class="confirme">Editar materias</h1>
              <br>
              <br>
              </div>
    
              <div class="ensenar">
                <h2 class="subtt">Quiero enseñar:</h2>
                <select name="opciones">
                  <option value="Matematica">Matemática</option>
                  <option value="Geografia" selected>Geografia</option>
                  <option value="Historia">Historia</option>
                  <option value="Logica">Lógica</option>
                </select>
              </div>
              <br>
              <div class="aprend">
                <h2 class="subtt">Quiero aprender:</h2>
                <select name="opciones">
                  <option value="Matematica">Matemática</option>
                  <option value="Geografia" selected>Geografia</option>
                  <option value="Historia">Historia</option>
                  <option value="Logica">Lógica</option>
                </select>
                <br>
                <br>
              </div>
              <div class="botoncito">
                <button class="btn-editar"><b>¡LISTO!</b></button>
              </div>
              </div>
            </form> 
          </div>
        </section>

    </main>
    <footer>
      <div class="abajo">
        <h4 class="resp">Egg-inder es una sociedad sin fines de lucro</h4>
        <li><h5>Desarrolladores:</h5></li>
        Galvan Leandro//Maldonado Silvana//Rojas Miguel//
        Chapero Mauro//Manduca Tomás//Villalba Soledad
      </div>
    </footer>
  </body>
</html>
